.body {
    padding: 20px;
  }
  
  .top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .search-bar input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-icon {
    margin-left: 5px;
    font-size: 16px;
  }
  
  .logout-button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    background-color:blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  h2 {
    margin-top: 0;
  }
  